.body{
    size: '100%';
    background-color: rgb(212, 212, 240);
}

@font-face { 
    font-family : 'calcifont';
    src: url('./clockfont/digital-7\ \(italic\).ttf');
}

button:hover {
    border-color: black !important;
    color: black !important; 
}